/* --- CONFIGURACIÓN GENERAL --- */
:root {
  --color-fondo: #609599;
  --color-blanco: #fff;
  --color-primario: #0d6efd;
  --fuente-principal: 'Montserrat', sans-serif;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
}

/* --- TRANSICIONES --- */
.btn,
.nav-link,
.card {
  transition: all 0.3s ease-in-out;
}

/* --- COMPONENTES  --- */

/* Contenedor Principal */
.contenedor-principal {
  background-color: var(--color-blanco);
  border: 3px solid rgb(13 110 253 / 20%);
  border-radius: 2rem;
  padding: 2rem;
}

/* Tarjetas */
.tarjeta-pasion {
  border: 2px solid #333 !important;
}

.tarjeta-pasion:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 20%) !important;
  transform: translateY(-10px);
}

/* --- MEDIA QUERIES  --- */

/* Mobile */
@media (width < 768px) {
  .contenedor-principal {
    margin: 1rem;
    padding: 1rem;
  }

  .display-5 {
    font-size: 1.8rem;
  }
}

/* Desktop */
@media (width >= 768px) {
  .contenedor-principal {
    margin-top: 2rem;
    padding: 3rem;
  }
}

/* --- VALIDACIÓN VISUAL --- */

input:valid,
textarea:valid {
  border-color: #198754 !important;
}

input:invalid:not(:placeholder-shown), 
textarea:invalid:not(:placeholder-shown) {
  border-color: #dc3545 !important;
}
